{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="navigation" class="container">
  <div class="row">
  <div class="span12">
    <ul class="menu menu1 row sf-menu clearfix">
        <li class="nav1 span3"><a href="index-1.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">01</span><span class="txt2">company</span></a></li>
        <li class="nav2 span3"><a href="index-2.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">02</span><span class="txt2">SERVICES</span></a></li>
    </ul>
  </div>
  </div>
</div>
</div>
{% endblock %}