{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="navigation" class="container">
  <div class="row">
  <div class="span12">
    <ul class="menu menu1 row sf-menu clearfix">
        <li class="nav1 span3"><a href="{% url 'falcao:perfil'%}"><span class="over1"><div class="d-flex justify-content-center" style="font-size: 24px;"><i class="fa-solid fa-circle-user fa-10x text-light"></i></div></span><span class="over2" style="color:white;"></span><span class="ic1"></span><span class="txt1">01</span><span class="txt2">PERFIL</span></a></li>
        <li class="nav2 span3"><a href="{% url 'falcao:produtos'%}"><span class="over1"><div class="d-flex justify-content-center" style="font-size: 24px;"><i class="fa-sharp fa-solid fa-list fa-10x text-light"></i></div></span><span class="over2"></span><span class="ic1"></span><span class="txt1">02</span><span class="txt2">PRODUTOS</span></a></li>
    </ul>
  </div>
  </div>
</div>
</div>
{% endblock %}