{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid d-flex flex-wrap">
    {% for produto in produtos %}
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            {% if not produto.imagem %}
            <img class="card-img-top" src="{% static 'img/sem-imagem.jpg' %}" alt="Card image cap" width="564" height="150">
            {% endif %}
            {% if produto.imagem %}
            <img class="card-img-top" src="{{produto.imagem.url}}" alt="Card image cap"  width="564" height="150">
            {% endif %}</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">{{produto.nome}}</h5>
            <p class="card-text">R$ {{produto.valor}}<br>{{produto.descricao}} </p>
          </div>
        </div>
    
{% endfor %}
</div>
{% endblock %}