{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>FALCÃO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href=  
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" type="icon" href="{% static 'icons/logo-falcao.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/carrousel.css' %}" rel="stylesheet">     
    <link href=  
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" type="text/css" media="screen">  
<link rel="stylesheet" href="{% static 'css/supersized.core.css' %}" type="text/css" media="screen">  
<link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/touchTouch.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/isotope.css' %}" type="text/css" media="screen">
<link href="{% static 'css/carrousel.css' %}" rel="stylesheet">
<link rel="icon" type="icon" href="{% static 'icons/logo-falcao.ico' %}" />
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>  
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>-->
<script src="https://kit.fontawesome.com/c65d405071.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/supersized.core.3.2.1.js' %}"></script>

<script type="text/javascript" src="{% static 'js/touchTouch.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script>
  $(document).ready(function() {
    /////// icons
    //$(".social li").find("a").css({opacity:0.6});
    $(".social li a").hover(function() {
      $(this).stop().animate({opacity:0.6 }, 400, 'easeOutExpo');		    
    },function(){
        $(this).stop().animate({opacity:1 }, 400, 'easeOutExpo' );		   
    }); 
  
    
  
  }); //
  $(window).load(function() {
  
    // isotop
    var $container = $('#isotope-items'),
      $optionSet = $('#isotope-options'), 
        $optionSets = $('#isotope-filters'), 
        $optionLinks = $optionSets.find('a'); 
      $container.isotope({ 
          filter: '*',
          layoutMode: 'fitRows'
      });  
       $optionLinks.click(function(){ 
         var $this = $(this); 
        // don't proceed if already selected 
      if ( $this.hasClass('selected') ) { 
        return false; 
      }    		
         $optionSet.find('.selected').removeClass('selected'); 
         $this.addClass('selected');
  
          var selector = $(this).attr('data-filter'); 
          $container.isotope({ 
              filter: selector            
          }); 
          return false; 
      });    	
    $(window).on("resize", function( event ) {	
      $container.isotope('reLayout');		
    });		
  
    // touchTouch
    $('.thumb-isotope .thumbnail a').touchTouch();
  
  }); //
  </script>	
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
</style>

<!--[if lt IE 8]>
		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>  
	<![endif]-->    

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>      
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>

<body class="subpage">
  <div id="main">

    <header>
    <div class="container">
    <div class="row">
    <div class="span12">
      <div class="header_inner clearfix">
        
        <div class="falcao">
          <a class="navbar-brand" href="{% url 'accounts:loged' %}"><img src="{% static 'img/logo-falcao.jpg' %}" class='img' width="120" height="40"></a>
        </div>
        <div class="top1"><a href="{% url 'accounts:loged' %}" class="logo">FALCÃO<span>SEGURANÇA ELETRÔNICA</span></a><br><p class="text-warning">PÁGINA DO ADMINISTRADOR</p></div>
        {% if request.user.is_authenticated %}
        <div class="top2">
          <div class="menu_top">
                <ul id="menu_top" class="clearfix">
                 
                  <li><a href="{% url 'administrador:admin'%}" style="font-size: 16pt;">HOME</a></li>
                  <li><a class="dropdown-item" href="{% url 'falcao:cadastra-produto'%}" style="font-size: 16pt;">CADASTRAR PRODUTO</a></li>
                  <li><a class="dropdown-item" href="{% url 'administrador:template-altera-adm' %}" style="font-size: 16pt;">Mudar Senha</a></li>
                  <li><a class="dropdown-item" href="{% url 'accounts:logouts' %}" style="font-size: 16pt;">Sair</a></li>
                </ul>
          </div>
          <div class="topnav">
            <div class="search-container">
              <form action="{% url 'falcao:produtos' %}" method="POST" id="myForm">
                {% csrf_token %}
                <input type="text" id="tags" placeholder="Search.." name="search" class="search">
                <script>
                    $(function () {
                      var elemento = document.getElementById('#tags');
                        var availableTags = [
                        {% for p in prod %}
                        "{{p.nome}}",
                        {% endfor %}
                        ];
                
                    $("#tags").autocomplete({
                        source: '{% url "accounts:busca-autocomplete" %}'
                      });
                  } );
                </script>
                <button type="submit">Buscar</button>
              </form>     
        </div>
      </div>
      {% endif %}
    </div>	
    </div>	
    </div>	
    </header>
{% block content %}

{% endblock %}
</div>	
</div>	
</div>
</div>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<footer>
	<div class="copyright">
		Copyright © 2013.All rights reserved.  |    <a href="#">Privacy Policy</a>
	</div>
</footer>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
</body>
</html>
