{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
{% if request.user.is_authenticated %}
<form class="forms-cad mt-3 text-white" method="post" action="{% url 'accounts:/changepassword/' %}">
    <b>
        
       {% csrf_token %}
       <div class="col-md-4 cool-xs-4 text-center">
        <div class="border border-1 rounded">
        
    
          <h1>Altere sua Senha</h1><br>
          <img src="{% static 'icons/logo-falcao.ico' %}" class="left-login-image" alt="Bichos a solta">    
       

       <div class="right-login">
          <div class="card-login">
             <div class="textfield">
                <label for="usu">Usuario</label>
                <input class="form-control" name="usu" id="usu" type="text" value="{{user}}" readonly>
             </div>
             <h1>Alterar Senha</h1>
             <div class="textfield">
                <label for="senha_atual">Senha Atual</label>
                <input class="form-control" name="senha_atual" id="senha_atual" type="password" name="password" id="password" placeholder="Senha">
             </div>
             <div class="textfield">
                <label for="nova_senha">Nova Senha</label>
                <input class="form-control" name="nova_senha" id="nova_senha" type="password" name="password" id="password" placeholder="Senha">
             </div>
             <button type="submit" class="btn btn-primary mt-2">Alterar</button>
             
             <p class="cadastrar">Ao invés disso, <a href="{% url 'accounts:loged'%}" class="link-info">volte ao início.</a></p>
{% endif %}
{% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
                <p class="cadastrar"><a href="{% url 'accounts:inicio'%}" class="link-info">Faça login.</a></p>
{% endif %}
          </div>
       </div>
    </div>
       </div>
</div>
 </form>

</center>
 {% endblock %}