{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="container d-flex justify-content-center align-items-center w-100">
             
    <div class="card text-center">

     <div class="upper">

       <img src="{% static 'icons/logo-falcao.ico' %}" class="img-fluid">
       
     </div>

     <div class="user text-center">

       <div class="profile">

         <img src="{% static 'icons/usuario.ico' %}" class="rounded-circle" width="80">
         
       </div>

     </div>


     <div class="mt-5 text-center">

       <h4 class="mb-0"><b>{{dados}}</b></h4>
       <span class="text-muted d-block mb-2">{{dados.cidade}} - {{dados.uf}}</span>
       <h4 class="mb-0"> Sua dívida atual é de R$ <b class="text-danger">{{dados.divida}},00</b></h4>


       <div class="d-flex justify-content-between align-items-center mt-4 px-4">

         <div class="stats">
           <h6 class="mb-0">Total</h6>
           <span>{{dados.total_vendido}}</span>

         </div>


         <div class="stats">
           <h6 class="mb-0">AV</h6>
           <span>{{dados.total_av}}</span>

         </div>


         <div class="stats">
           <h6 class="mb-0">Vendas</h6>
           <span><a class="dropdown-item" href="#">Ver lista</a></li></span>

         </div>
         
       </div>
       
     </div>
      
    </div>

  </div>
{% endblock %}