{% extends 'base_adm.html' %}
{% load static %}
{% block content %}
<div id="navigation" class="container">
  <div class="row">
  <div class="span12">
    <ul class="menu menu1 row sf-menu clearfix">
        <li class="nav1 span3"><a href="index-1.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">01</span><span class="txt2">company</span></a></li>
        <li class="nav2 span3"><a href="index-2.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">02</span><span class="txt2">SERVICES</span></a></li>
        <li class="nav3 span3"><a href="index-3.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">03</span><span class="txt2">coverage map</span></a></li>
        <li class="active nav4 span3 sub-menu sub-menu-1"><a href="index-4.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">04</span><span class="txt2">solutions</span></a>
      <ul>
        <li><a href="index-4.html">Networking</a></li>
        <li class="sub-menu sub-menu-2"><a href="index-4.html">Internet<em></em></a>
          <ul>
            <li><a href="index-4.html">lorem ipsum dolor</a></li>
            <li><a href="index-4.html">sit amet</a></li>
            <li><a href="index-4.html">adipiscing elit</a></li>
            <li><a href="index-4.html">nunc suscipit</a></li>
            <li><a href="404.html">404 page not found</a></li>
          </ul>
        </li>
        <li class="sub-menu sub-menu-2"><a href="index-4.html">Voice<em></em></a>
          <ul>
            <li><a href="index-4.html">lorem ipsum dolor</a></li>
            <li><a href="index-4.html">sit amet</a></li>
            <li><a href="index-4.html">adipiscing elit</a></li>
            <li><a href="index-4.html">nunc suscipit</a></li>									
          </ul>
        </li>
        <li><a href="index-4.html">Message</a></li>						
      </ul>
        </li>      										
      </ul>
      <ul class="menu menu2 row sf-menu clearfix">
        <li class="nav5 span3"><a href="index-5.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">05</span><span class="txt2">support</span></a></li>
        <li class="nav6 span3"><a href="index-6.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">06</span><span class="txt2">clients</span></a></li>
        <li class="nav7 span3"><a href="index-7.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">07</span><span class="txt2">location</span></a></li>
        <li class="nav8 span3"><a href="index-8.html"><span class="over1"></span><span class="over2"></span><span class="ic1"></span><span class="txt1">08</span><span class="txt2">contacts</span></a></li>      										
      </ul>
      <div class="hl1"></div>
  </div>	
  </div>	
  </div>
{% endblock %}