{% extends 'base_adm.html' %}
{% load static %}
{% block content %}
<div class="mt-5 container">
  <div class="div-icon bg-dark">
    <center>
      <a class="link-icon aria-expanded" style="color: white;" href="#" role="button">
        <i class="icon fa-solid fa-cart-shopping bg-dark fa-6x" style="color:white;"></i><br>

        &nbsp;Vender
      </a>
    </center>
    <hr>
    <center>
      <a class="link-icon aria-expanded" style="color: white;" href="#" role="button">
        <i class="icon fa-solid fa-user-gear bg-dark fa-6x" style="color:white;"></i><br>

        Devedores
      </a>
    </center>
  </div>
  <div class="div-icon3 bg-dark">
    <center>
      <a class="link-icon aria-expanded" style="color: white;" href="#" role="button">
        <i class="icon fa-solid fa-plus bg-dark fa-6x" style="color:white;"></i><br>
        
        Cadastrar Produto
      </a>
    </center>
    <hr>
  </div>
  <div class="div-icon4 bg-dark">
    <center>
      <a class="link-icon aria-expanded" style="color: white;" href="#" role="button">
        <i class="icon fa-solid fa-user-gear bg-dark fa-6x" style="color:white;"></i><br>
        
        Venda Parcelada
      </a>
    </center>
  </div>
</div>
{% endblock %}