{% extends 'base_adm.html' %}
{% load static %}
{% block content %}
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    {% for produto in produtos %}
    <div class="card-header">
      {% if not produto.imagem %}
      <img class="card-img-top" src="{% static 'img/sem-imagem.jpg' %}" alt="Card image cap" width="30" heigth="55">
      {% endif %}
      {% if produto.imagem %}
      <img class="card-img-top" src="{{produto.imagem.url}}" alt="Card image cap"  width="100" heigth="180">
      {% endif %}
    </div>
      <h5 class="card-title">{{produto.nome}}</h5>
      <p class="card-text">R$ {{produto.valor}}</p>
      <p class="card-text">{{produto.descricao}}.</p>
    </div>
  </div>    
{% endfor %}
</div>
{% endblock %}